<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.CAMERA" />
   
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <!-- Declare that camera is optional -->
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>
    <uses-permission android:name="android.permission.NFC" />
    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_4"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_4"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyAndroidApp">

        <!-- Main Activity MUST specify android:exported -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

      

          <!-- Other Activities -->
        <activity android:name=".SecondActivity" android:exported="false"/>


        <!-- Receivers -->
        <receiver android:name="com.example.utils.SnoozeActionReceiver" android:exported="false" />
        <receiver android:name="com.example.utils.ReminderReceiver" android:exported="false" />
         <receiver android:name="com.example.utils.BatteryReceiver" android:exported="false"/>
        <receiver android:name="com.example.utils.NetworkReceiver" android:exported="false"/>

        <activity android:name=".DashboardActivity" android:exported="false"/>

        <activity android:name=".DashboardScreenActivity"  android:exported="true"
        android:label="Dashboard Screen" />
        <activity android:name=".HelperActivity" android:exported="true"
        android:label="Helper Screen" />

        <service
            android:name=".accessibility.UniversalControlService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:exported="false">

            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_config" />
        </service>

        </application>
</manifest>
